<html>
<body>
<table width="100%" style="font-size:50px" cellpadding="20">
<tr><td><a href="1/2/">Bedroom On</a></td><td><a href="1/0/">Bedroom off</a></td></tr>
<tr><td><a href="2/2/">Bathroom On</a></td><td><a href="2/0/">Bathroom off</a></td></tr>
<tr><td><a href="3/2/">Kitchen On</a></td><td><a href="3/0/">Kitchen off</a></td></tr>
<tr><td><a href="4/2/">Living Room On</a></td><td><a href="4/0/">Living Room off</a></td></tr>
<tr><td><a href="5/2/">Bonus Room On</a></td><td><a href="5/0/">Bonus Room off</a></td></tr>
<tr><td><a href="6/2/">Office On</a></td><td><a href="6/0/">Office off</a></td></tr>
<tr><td><a href="7/2/">Back Porch On</a></td><td><a href="7/0/">Back Porch off</a></td></tr>
<tr><td><a href="8/2/">Garage On</a></td><td><a href="8/0/">Garage off</a></td></tr>
</table>
</body>
</html>
